SISWin1/Web References/HastaXMLWebServisi/HastaServisi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Kaydet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hasta" type="tns:Hasta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Hasta">
        <s:complexContent mixed="false">
          <s:extension base="tns:Kisi">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="DogumTarihi" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Cinsiyeti" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Adres" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Kisi">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="No" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TCKimlikNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Soyad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Eposta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CepTel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EvTel" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="KaydetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KaydetResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HastalariListele">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="soyad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HastalariListeleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HastalariListeleResult" type="tns:ArrayOfHasta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHasta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Hasta" nillable="true" type="tns:Hasta" />
        </s:sequence>
      </s:complexType>
      <s:element name="HastaGetir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="hastaNo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HastaGetirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HastaGetirResult" type="tns:Hasta" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="KaydetSoapIn">
    <wsdl:part name="parameters" element="tns:Kaydet" />
  </wsdl:message>
  <wsdl:message name="KaydetSoapOut">
    <wsdl:part name="parameters" element="tns:KaydetResponse" />
  </wsdl:message>
  <wsdl:message name="HastalariListeleSoapIn">
    <wsdl:part name="parameters" element="tns:HastalariListele" />
  </wsdl:message>
  <wsdl:message name="HastalariListeleSoapOut">
    <wsdl:part name="parameters" element="tns:HastalariListeleResponse" />
  </wsdl:message>
  <wsdl:message name="HastaGetirSoapIn">
    <wsdl:part name="parameters" element="tns:HastaGetir" />
  </wsdl:message>
  <wsdl:message name="HastaGetirSoapOut">
    <wsdl:part name="parameters" element="tns:HastaGetirResponse" />
  </wsdl:message>
  <wsdl:portType name="HastaServisiSoap">
    <wsdl:operation name="Kaydet">
      <wsdl:input message="tns:KaydetSoapIn" />
      <wsdl:output message="tns:KaydetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HastalariListele">
      <wsdl:input message="tns:HastalariListeleSoapIn" />
      <wsdl:output message="tns:HastalariListeleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HastaGetir">
      <wsdl:input message="tns:HastaGetirSoapIn" />
      <wsdl:output message="tns:HastaGetirSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HastaServisiSoap" type="tns:HastaServisiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Kaydet">
      <soap:operation soapAction="http://tempuri.org/Kaydet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HastalariListele">
      <soap:operation soapAction="http://tempuri.org/HastalariListele" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HastaGetir">
      <soap:operation soapAction="http://tempuri.org/HastaGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HastaServisiSoap12" type="tns:HastaServisiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Kaydet">
      <soap12:operation soapAction="http://tempuri.org/Kaydet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HastalariListele">
      <soap12:operation soapAction="http://tempuri.org/HastalariListele" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HastaGetir">
      <soap12:operation soapAction="http://tempuri.org/HastaGetir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HastaServisi">
    <wsdl:port name="HastaServisiSoap" binding="tns:HastaServisiSoap">
      <soap:address location="https://localhost:44394/HastaServisi.asmx" />
    </wsdl:port>
    <wsdl:port name="HastaServisiSoap12" binding="tns:HastaServisiSoap12">
      <soap12:address location="https://localhost:44394/HastaServisi.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>